[Unit]
Description=IMEppAgenda
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/srv/imepp-agenda/run.sh

[Install]
WantedBy=multi-user.target
