[Unit]
Description=IME++ Agenda
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/home/imeppagenda/imepp-agenda/run.sh
Restart=always
RestartSec=5
User=imeppagenda
Group=imeppagenda
WorkingDirectory=/home/imeppagenda/imepp-agenda

[Install]
WantedBy=multi-user.target
